Repository aya-rs/aya, pull requests merged in 2022-05, with the labels that each got.

#248 bpf: Maps live in maps section
  bpf/aya-bpf-macros/src/expand.rs
  test/cases/020_elf/000_maps/map_test.ebpf.rs
  test/cases/020_elf/000_maps/map_test.o
  test/cases/020_elf/000_maps/test.sh
  test/cases/020_elf/group.sh
Labels: fix, aya-bpf

#249 aya: rework links
  aya/Cargo.toml
  aya/src/bpf.rs
  aya/src/programs/cgroup_skb.rs
  aya/src/programs/extension.rs
  aya/src/programs/fentry.rs
  aya/src/programs/fexit.rs
  aya/src/programs/kprobe.rs
  aya/src/programs/links.rs
  aya/src/programs/lirc_mode2.rs
  aya/src/programs/lsm.rs
  aya/src/programs/mod.rs
  aya/src/programs/perf_attach.rs
  aya/src/programs/perf_event.rs
  aya/src/programs/probe.rs
  aya/src/programs/raw_trace_point.rs
  aya/src/programs/sk_msg.rs
  aya/src/programs/sk_skb.rs
  aya/src/programs/sock_ops.rs
  aya/src/programs/socket_filter.rs
  aya/src/programs/tc.rs
  aya/src/programs/tp_btf.rs
  aya/src/programs/trace_point.rs
  aya/src/programs/uprobe.rs
  aya/src/programs/utils.rs
  aya/src/programs/xdp.rs
  aya/src/sys/bpf.rs
Labels: feature, aya

#252 aya: Relocate maps using symbol_index
  aya/src/bpf.rs
  aya/src/maps/hash_map/hash_map.rs
  aya/src/maps/lpm_trie.rs
  aya/src/maps/mod.rs
  aya/src/obj/mod.rs
  aya/src/obj/relocation.rs
Labels: fix, aya

#253 aya: Implement forget_link
  aya/src/programs/cgroup_skb.rs
  aya/src/programs/extension.rs
  aya/src/programs/fentry.rs
  aya/src/programs/fexit.rs
  aya/src/programs/kprobe.rs
  aya/src/programs/links.rs
  aya/src/programs/lirc_mode2.rs
  aya/src/programs/lsm.rs
  aya/src/programs/mod.rs
  aya/src/programs/perf_attach.rs
  aya/src/programs/perf_event.rs
  aya/src/programs/raw_trace_point.rs
  aya/src/programs/sk_msg.rs
  aya/src/programs/sk_skb.rs
  aya/src/programs/sock_ops.rs
  aya/src/programs/socket_filter.rs
  aya/src/programs/tc.rs
  aya/src/programs/tp_btf.rs
  aya/src/programs/trace_point.rs
  aya/src/programs/uprobe.rs
  aya/src/programs/xdp.rs
Labels: feature, aya
