Repository aya-rs/aya, pull requests merged in 2022-01, with the labels that each got.

#154 ci: Add dependencies/codegen/docs to rel notes
  .github/changelog-base.json
Labels: test, aya-bpf, aya

#127 Support for BPF_PROG_TYPE_EXT
  aya/Cargo.toml
  aya/src/bpf.rs
  aya/src/obj/btf/btf.rs
  aya/src/obj/btf/info.rs
  aya/src/obj/btf/mod.rs
  aya/src/obj/btf/types.rs
  aya/src/obj/mod.rs
  aya/src/obj/relocation.rs
  aya/src/programs/cgroup_skb.rs
  aya/src/programs/extension.rs
  aya/src/programs/mod.rs
  aya/src/programs/xdp.rs
  aya/src/sys/bpf.rs
  aya/src/util.rs
Labels: feature, aya-bpf, aya

#163 Update libbpf to 22411acc4b2c846868fd570b2d9f3b016d2af2cb
  aya/src/generated/linux_bindings_aarch64.rs
  aya/src/generated/linux_bindings_armv7.rs
  aya/src/generated/linux_bindings_x86_64.rs
Labels: dependencies, aya

#157 aya: document the public api
  aya/src/bpf.rs
  aya/src/generated/mod.rs
  aya/src/lib.rs
  aya/src/maps/mod.rs
  aya/src/maps/perf/perf_buffer.rs
  aya/src/maps/sock/mod.rs
  aya/src/obj/btf/btf.rs
  aya/src/programs/extension.rs
  aya/src/programs/kprobe.rs
  aya/src/programs/mod.rs
  aya/src/programs/perf_event.rs
  aya/src/programs/probe.rs
  aya/src/programs/sk_skb.rs
  aya/src/programs/socket_filter.rs
  aya/src/programs/tc.rs
  aya/src/programs/trace_point.rs
  aya/src/programs/uprobe.rs
  aya/src/programs/xdp.rs
Labels: documentation, aya

#169 aya: Fix BTF type resolution for Arrays and Ints
  aya/src/obj/btf/btf.rs
  aya/src/obj/btf/types.rs
Labels: fix, aya

#168 btf: Add support for BTF_TYPE_KIND_{TAG,DECL_TAG}
  aya/src/bpf.rs
  aya/src/obj/btf/btf.rs
  aya/src/obj/btf/types.rs
  aya/src/sys/bpf.rs
Labels: feature, aya

#174 btf: fix sanitization if BTF_FUNC_GLOBAL is not supported
  aya/src/obj/btf/btf.rs
Labels: fix, aya

#164 aya: Fix BTF verifier output
  aya/src/bpf.rs
  aya/src/programs/mod.rs
  aya/src/sys/bpf.rs
Labels: fix, aya

#175 aya: Merge Fixup and Sanitzation to single step
  aya/src/bpf.rs
  aya/src/obj/btf/btf.rs
  aya/src/obj/btf/types.rs
  aya/src/sys/bpf.rs
Labels: fix, aya

#160 test: Add regression tests
  .github/workflows/build-aya.yml
  test/.gitignore
  test/README.md
  test/cases/000_smoke/000_xdp/pass.ebpf.rs
  test/cases/000_smoke/000_xdp/pass.rs
  test/cases/000_smoke/000_xdp/test.sh
  test/cases/000_smoke/group.sh
  test/cases/010_load/000_name/name_test.ebpf.rs
  test/cases/010_load/000_name/name_test.rs
  test/cases/010_load/000_name/test.sh
  test/cases/010_load/group.sh
  test/cases/_lib/lib.sh
  test/cases/group.sh
Labels: test, aya

#161 Add support for BPF_MAP_TYPE_LPM_TRIE
  aya/src/maps/lpm_trie.rs
  aya/src/maps/mod.rs
Labels: feature, aya
