Repository aya-rs/aya, pull requests merged in 2023-09, with the labels that each got.

#777 aya/maps: rework TryFrom macros
  aya/src/maps/mod.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#775 async_perf_event_array: access inner through async
  aya/src/maps/perf/async_perf_event_array.rs
  aya/src/maps/perf/perf_event_array.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#785 aya/ci: fixup broken debian kernel image url
  .github/workflows/ci.yml
Labels: test

#786 integration-test: remove all sleeps
  test/integration-test/bpf/multimap-btf.bpf.c
  test/integration-test/src/tests/load.rs
  test/integration-test/src/tests/rbpf.rs
  test/integration-test/src/tests/relocations.rs
Labels: test

#770 maps: `MapFd` and `SockMapFd` are owned
  aya-obj/src/lib.rs
  aya-obj/src/relocation.rs
  aya/src/bpf.rs
  aya/src/maps/array/array.rs
  aya/src/maps/array/per_cpu_array.rs
  aya/src/maps/array/program_array.rs
  aya/src/maps/bloom_filter.rs
  aya/src/maps/hash_map/hash_map.rs
  aya/src/maps/hash_map/mod.rs
  aya/src/maps/hash_map/per_cpu_hash_map.rs
  aya/src/maps/lpm_trie.rs
  aya/src/maps/mod.rs
  aya/src/maps/perf/perf_event_array.rs
  aya/src/maps/queue.rs
  aya/src/maps/sock/mod.rs
  aya/src/maps/sock/sock_hash.rs
  aya/src/maps/sock/sock_map.rs
  aya/src/maps/stack.rs
  aya/src/maps/stack_trace.rs
  aya/src/programs/links.rs
  aya/src/programs/mod.rs
  aya/src/programs/sk_msg.rs
  aya/src/programs/sk_skb.rs
  aya/src/programs/utils.rs
  aya/src/sys/bpf.rs
  test/integration-test/src/tests/rbpf.rs
  xtask/public-api/aya-obj.txt
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review, aya-obj

#782 aya: add program_info() api to `Program`
  aya/src/programs/mod.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#790 Remove MapData::pinned. Make MapData::pin public
  aya/src/maps/mod.rs
  aya/src/pin.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#527 Implement XDP map types
  aya-bpf-macros/src/lib.rs
  aya-bpf-macros/src/xdp.rs
  aya-obj/src/maps.rs
  aya-obj/src/obj.rs
  aya-obj/src/programs/mod.rs
  aya-obj/src/programs/xdp.rs
  aya/Cargo.toml
  aya/src/bpf.rs
  aya/src/maps/mod.rs
  aya/src/maps/xdp/cpu_map.rs
  aya/src/maps/xdp/dev_map.rs
  aya/src/maps/xdp/dev_map_hash.rs
  aya/src/maps/xdp/mod.rs
  aya/src/maps/xdp/xsk_map.rs
  aya/src/programs/mod.rs
  aya/src/programs/xdp.rs
  aya/src/sys/bpf.rs
  bpf/aya-bpf/src/maps/mod.rs
  bpf/aya-bpf/src/maps/xdp/cpu_map.rs
  bpf/aya-bpf/src/maps/xdp/dev_map.rs
  bpf/aya-bpf/src/maps/xdp/dev_map_hash.rs
  bpf/aya-bpf/src/maps/xdp/mod.rs
  bpf/aya-bpf/src/maps/xdp/xsk_map.rs
  test/integration-ebpf/Cargo.toml
  test/integration-ebpf/src/redirect.rs
  test/integration-ebpf/src/xdp_sec.rs
  test/integration-test/src/lib.rs
  test/integration-test/src/tests.rs
  test/integration-test/src/tests/load.rs
  test/integration-test/src/tests/rbpf.rs
  test/integration-test/src/tests/xdp.rs
  xtask/public-api/aya-bpf.txt
  xtask/public-api/aya-obj.txt
  xtask/public-api/aya.txt
Labels: feature, test, aya-bpf, aya, api/needs-review, aya-obj

#794 Remove 6.4.x kernels from CI
  .github/workflows/ci.yml
Labels: test

#795 appease clippy
  xtask/src/docs.rs
  xtask/src/run.rs
Labels: test

#796 integration-test: fix when host != target
  test/integration-ebpf/src/bpf_probe_read.rs
  test/integration-test/build.rs
  test/integration-test/src/tests/bpf_probe_read.rs
Labels: test

#791 aya: Fix program loading on kernels with a patch > 255
  aya/src/programs/mod.rs
  aya/src/util.rs
Labels: test, aya

#800 integration-test: deflake test_loaded_at
  test/integration-test/src/tests/load.rs
Labels: test
