Repository aya-rs/aya, pull requests merged in 2023-07, with the labels that each got.

#526 aya: Remove iter_key from LPM Trie API
  aya/src/maps/lpm_trie.rs
Labels: feature, aya

#531 aya: Make FEATURES public
  aya-obj/src/btf/btf.rs
  aya-obj/src/obj.rs
  aya-obj/src/relocation.rs
  aya/src/bpf.rs
  aya/src/programs/perf_attach.rs
  aya/src/sys/bpf.rs
Labels: feature, aya, api/needs-review

#635 misc: aya-obj: Make it possible to externally assemble BtfEnum
  aya-obj/src/btf/types.rs
Labels: aya-obj

#520 Add Unsupported Map type
  aya/src/bpf.rs
  aya/src/maps/mod.rs
Labels: feature, aya, api/needs-review

#696 test: add the possibility to run a test inside a network namespace
  Cargo.toml
  aya/src/lib.rs
  aya/src/sys/mod.rs
  aya/src/sys/netlink.rs
  test/integration-test/Cargo.toml
  test/integration-test/src/lib.rs
  test/integration-test/src/tests/smoke.rs
  test/integration-test/src/utils.rs
Labels: test, aya, api/needs-review

#704 all: better panic messages
  aya-obj/src/btf/btf.rs
  aya-obj/src/btf/relocation.rs
  aya-obj/src/btf/types.rs
  aya-obj/src/obj.rs
  aya/src/maps/hash_map/hash_map.rs
  aya/src/maps/perf/perf_buffer.rs
  aya/src/sys/mod.rs
  test/integration-test/src/tests/elf.rs
Labels: test, aya, aya-obj

#413 aya: fix names once and for all
  Cargo.toml
  aya-bpf-macros/Cargo.toml
  aya-bpf-macros/src/args.rs
  aya-bpf-macros/src/btf_tracepoint.rs
  aya-bpf-macros/src/cgroup_device.rs
  aya-bpf-macros/src/cgroup_skb.rs
  aya-bpf-macros/src/cgroup_sock.rs
  aya-bpf-macros/src/cgroup_sock_addr.rs
  aya-bpf-macros/src/cgroup_sockopt.rs
  aya-bpf-macros/src/cgroup_sysctl.rs
  aya-bpf-macros/src/expand.rs
  aya-bpf-macros/src/fentry.rs
  aya-bpf-macros/src/fexit.rs
  aya-bpf-macros/src/kprobe.rs
  aya-bpf-macros/src/lib.rs
  aya-bpf-macros/src/lsm.rs
  aya-bpf-macros/src/map.rs
  aya-bpf-macros/src/perf_event.rs
  aya-bpf-macros/src/raw_tracepoint.rs
  aya-bpf-macros/src/sk_lookup.rs
  aya-bpf-macros/src/sk_msg.rs
  aya-bpf-macros/src/sk_skb.rs
  aya-bpf-macros/src/sock_ops.rs
  aya-bpf-macros/src/socket_filter.rs
  aya-bpf-macros/src/tc.rs
  aya-bpf-macros/src/tracepoint.rs
  aya-bpf-macros/src/uprobe.rs
  aya-bpf-macros/src/xdp.rs
  aya-obj/src/obj.rs
  test/integration-ebpf/Cargo.toml
  test/integration-ebpf/src/map_test.rs
  test/integration-ebpf/src/name_test.rs
  test/integration-ebpf/src/pass.rs
  test/integration-ebpf/src/test.rs
  test/integration-ebpf/src/two_progs.rs
  test/integration-test/bpf/ext.bpf.c
  test/integration-test/bpf/main.bpf.c
  test/integration-test/src/lib.rs
  test/integration-test/src/tests/load.rs
  test/integration-test/src/tests/rbpf.rs
  test/integration-test/src/tests/smoke.rs
  xtask/public-api/aya-obj.txt
Labels: enhancement, test, aya-bpf, aya, api/needs-review, aya-obj

#701 aya: Return `OwnedFd` for `perf_event_open`.
  aya/src/maps/perf/perf_buffer.rs
  aya/src/programs/perf_attach.rs
  aya/src/programs/perf_event.rs
  aya/src/programs/probe.rs
  aya/src/programs/trace_point.rs
  aya/src/sys/mod.rs
  aya/src/sys/perf_event.rs
Labels: aya
