Repository aya-rs/aya, pull requests merged in 2023-08, with the labels that each got.

#706 integration-test: Remove runtime toolchain deps
  .github/workflows/ci.yml
  Cargo.toml
  aya/src/programs/links.rs
  test/README.md
  test/integration-test/Cargo.toml
  test/integration-test/bpf/reloc.bpf.c
  test/integration-test/bpf/reloc.btf.c
  test/integration-test/build.rs
  test/integration-test/src/lib.rs
  test/integration-test/src/tests/bpf_probe_read.rs
  test/integration-test/src/tests/btf_relocations.rs
  test/integration-test/src/tests/rbpf.rs
  test/run.sh
Labels: test, aya

#714 sys: avoid repeating BPF_BTF_LOAD dance
  aya/src/sys/bpf.rs
Labels: aya

#716 aya: preallocate the vector
  aya/src/programs/uprobe.rs
Labels: aya

#712 integration-test: remove bpftool dependency
  aya/src/bpf.rs
  aya/src/maps/array/array.rs
  aya/src/maps/array/per_cpu_array.rs
  aya/src/maps/array/program_array.rs
  aya/src/maps/bloom_filter.rs
  aya/src/maps/hash_map/hash_map.rs
  aya/src/maps/hash_map/mod.rs
  aya/src/maps/hash_map/per_cpu_hash_map.rs
  aya/src/maps/lpm_trie.rs
  aya/src/maps/mod.rs
  aya/src/maps/queue.rs
  aya/src/maps/sock/sock_hash.rs
  aya/src/maps/sock/sock_map.rs
  aya/src/maps/stack.rs
  aya/src/maps/stack_trace.rs
  aya/src/pin.rs
  aya/src/programs/cgroup_device.rs
  aya/src/programs/cgroup_skb.rs
  aya/src/programs/cgroup_sock.rs
  aya/src/programs/cgroup_sock_addr.rs
  aya/src/programs/cgroup_sockopt.rs
  aya/src/programs/cgroup_sysctl.rs
  aya/src/programs/extension.rs
  aya/src/programs/kprobe.rs
  aya/src/programs/links.rs
  aya/src/programs/lirc_mode2.rs
  aya/src/programs/mod.rs
  aya/src/programs/perf_attach.rs
  aya/src/programs/perf_event.rs
  aya/src/programs/probe.rs
  aya/src/programs/sk_lookup.rs
  aya/src/programs/sk_msg.rs
  aya/src/programs/sk_skb.rs
  aya/src/programs/sock_ops.rs
  aya/src/programs/trace_point.rs
  aya/src/programs/uprobe.rs
  aya/src/programs/utils.rs
  aya/src/programs/xdp.rs
  aya/src/sys/bpf.rs
  aya/src/sys/mod.rs
  test/README.md
  test/integration-test/src/tests/load.rs
  test/run.sh
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#711 Tidy up aya-bpf-macros (again)
  aya-bpf-macros/src/args.rs
  aya-bpf-macros/src/btf_tracepoint.rs
  aya-bpf-macros/src/cgroup_skb.rs
  aya-bpf-macros/src/cgroup_sock.rs
  aya-bpf-macros/src/cgroup_sock_addr.rs
  aya-bpf-macros/src/cgroup_sockopt.rs
  aya-bpf-macros/src/fentry.rs
  aya-bpf-macros/src/fexit.rs
  aya-bpf-macros/src/kprobe.rs
  aya-bpf-macros/src/lib.rs
  aya-bpf-macros/src/lsm.rs
  aya-bpf-macros/src/map.rs
  aya-bpf-macros/src/raw_tracepoint.rs
  aya-bpf-macros/src/tracepoint.rs
  aya-bpf-macros/src/uprobe.rs
  aya-bpf-macros/src/xdp.rs
  aya-obj/src/obj.rs
  aya/src/bpf.rs
  xtask/public-api/aya-obj.txt
Labels: test, aya-bpf, aya, aya-obj

#717 uprobe,integration-test: do not exercise dylib resolution in integration tests
  aya/src/programs/uprobe.rs
  test/integration-test/src/tests/load.rs
Labels: test, aya

#718 uprobe: refactor target resolution
  aya/src/programs/uprobe.rs
Labels: test, aya

#715 Segment out SymbolResolver to a trait
  aya/src/maps/stack_trace.rs
  aya/src/util.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#720 aya-obj: Remove name from ProgramSection
  aya-obj/src/obj.rs
  aya/src/bpf.rs
  test/integration-test/src/tests/rbpf.rs
  xtask/public-api/aya-obj.txt
Labels: test, aya, api/needs-review, aya-obj

#709 aya: Use OwnedFd in FdLink.
  aya/src/maps/mod.rs
  aya/src/programs/cgroup_device.rs
  aya/src/programs/cgroup_skb.rs
  aya/src/programs/cgroup_sock.rs
  aya/src/programs/cgroup_sock_addr.rs
  aya/src/programs/cgroup_sockopt.rs
  aya/src/programs/cgroup_sysctl.rs
  aya/src/programs/extension.rs
  aya/src/programs/kprobe.rs
  aya/src/programs/links.rs
  aya/src/programs/mod.rs
  aya/src/programs/perf_attach.rs
  aya/src/programs/perf_event.rs
  aya/src/programs/sk_lookup.rs
  aya/src/programs/trace_point.rs
  aya/src/programs/uprobe.rs
  aya/src/programs/utils.rs
  aya/src/programs/xdp.rs
  aya/src/sys/bpf.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#721 aya: Fix (func|line)_info multiple progs in section
  aya-obj/src/obj.rs
  test/integration-test/bpf/reloc.bpf.c
Labels: test, aya-obj

#726 btf: avoid multiple vector allocations
  aya-obj/src/btf/types.rs
Labels: aya-obj

#727 integration-test: avoid reliance on kernel headers
  test/integration-test/Cargo.toml
  test/integration-test/bpf/ext.bpf.c
  test/integration-test/bpf/main.bpf.c
  test/integration-test/bpf/multimap-btf.bpf.c
  test/integration-test/bpf/reloc.bpf.c
  test/integration-test/bpf/reloc.btf.c
  test/integration-test/bpf/text_64_64_reloc.c
  test/integration-test/build.rs
  test/integration-test/src/lib.rs
  test/integration-test/src/tests/btf_relocations.rs
  xtask/Cargo.toml
  xtask/src/lib.rs
  xtask/src/public_api.rs
  xtask/src/run.rs
Labels: test

#731 aya-obj: Mutate BTF in-place without clone
  aya-obj/src/btf/btf.rs
Labels: test, aya-obj

#725 aya, aya-obj: Implement ENUM64 fixups
  aya-obj/src/btf/btf.rs
  aya-obj/src/btf/types.rs
  aya/src/bpf.rs
  aya/src/sys/bpf.rs
  xtask/public-api/aya-obj.txt
Labels: test, aya, aya-obj

#729 log: annotate logging functions inlining
  aya-log-common/src/lib.rs
  test/integration-ebpf/src/log.rs
  test/integration-test/src/tests/log.rs
  xtask/public-api/aya-log-common.txt
Labels: test, aya-log

#734 aya-obj: s/types.types[i]/*t/ where possible
  aya-obj/src/btf/btf.rs
Labels: aya-obj

#733 integration-test: Implement running on VMs
  .github/workflows/ci.yml
  Cargo.toml
  bpf/aya-log-ebpf/src/lib.rs
  init/Cargo.toml
  init/src/main.rs
  test/README.md
  test/cloud-localds
  test/integration-test/src/tests/log.rs
  test/run.sh
  xtask/src/main.rs
  xtask/src/run.rs
Labels: test, aya-log

#735 aya-log: s/Result<usize, ()>/Option<NonZeroUsize>/
  aya-log-common/src/lib.rs
  aya-log-ebpf-macros/src/expand.rs
  aya-log/src/lib.rs
  xtask/public-api/aya-log-common.txt
Labels: test, aya-log

#736 Remove pointless DefaultLogger
  aya-log/src/lib.rs
Labels: aya-log

#738 xtask: watch for kernel panics on stderr
  aya-log-common/src/lib.rs
  xtask/src/run.rs
Labels: test, aya-log

#740 Revisit the stack trace API to remove resolution support
  aya/src/maps/stack_trace.rs
  aya/src/util.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#743 util: avoid vector allocation when parsing ksyms
  aya/src/util.rs
Labels: aya

#745 xtask: watch for kernel panic in stdout too
  xtask/src/run.rs
Labels: test

#747 sys: add map_ids to bpf_prog_get_info_by_fd
  aya/src/programs/extension.rs
  aya/src/programs/lirc_mode2.rs
  aya/src/programs/mod.rs
  aya/src/sys/bpf.rs
Labels: aya

#750 xtask: Fix aya public-api
  xtask/public-api/aya.txt
Labels: test, api/needs-review

#748 programs: Plug attach_btf_obj_fd leak
  aya/src/programs/extension.rs
  aya/src/programs/mod.rs
  aya/src/sys/bpf.rs
Labels: aya

#749 .github: Add clang-format
  .github/workflows/ci.yml
  aya-obj/include/linux_wrapper.h
  bpf/aya-bpf-bindings/include/bindings.h
Labels: test, aya-bpf, aya-obj

#702 aya: Don't store btf_fd in MapData
  aya/src/bpf.rs
  aya/src/maps/bloom_filter.rs
  aya/src/maps/hash_map/hash_map.rs
  aya/src/maps/lpm_trie.rs
  aya/src/maps/mod.rs
  aya/src/sys/bpf.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#637 Add more helpful methods to `ProgramInfo`
  aya/src/programs/lirc_mode2.rs
  aya/src/programs/mod.rs
  aya/src/programs/utils.rs
  test/integration-test/src/tests/smoke.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#744 programs: `ProgramFd` is owned
  aya/src/maps/array/program_array.rs
  aya/src/maps/perf/async_perf_event_array.rs
  aya/src/programs/cgroup_device.rs
  aya/src/programs/cgroup_skb.rs
  aya/src/programs/cgroup_sock.rs
  aya/src/programs/cgroup_sock_addr.rs
  aya/src/programs/cgroup_sockopt.rs
  aya/src/programs/cgroup_sysctl.rs
  aya/src/programs/extension.rs
  aya/src/programs/lirc_mode2.rs
  aya/src/programs/mod.rs
  aya/src/programs/perf_event.rs
  aya/src/programs/probe.rs
  aya/src/programs/sk_lookup.rs
  aya/src/programs/sk_msg.rs
  aya/src/programs/sk_skb.rs
  aya/src/programs/sock_ops.rs
  aya/src/programs/socket_filter.rs
  aya/src/programs/tc.rs
  aya/src/programs/trace_point.rs
  aya/src/programs/utils.rs
  aya/src/programs/xdp.rs
  aya/src/sys/bpf.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#757 programs: `ProgramData::attach_prog_fd` is owned
  aya/src/programs/extension.rs
  aya/src/programs/mod.rs
  aya/src/sys/bpf.rs
  test/integration-test/src/tests/smoke.rs
  xtask/public-api/aya-log.txt
  xtask/public-api/aya-obj.txt
  xtask/public-api/aya-tool.txt
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#758 aya: MapData::fd is non-optional
  aya-obj/src/relocation.rs
  aya/src/bpf.rs
  aya/src/maps/array/array.rs
  aya/src/maps/array/per_cpu_array.rs
  aya/src/maps/array/program_array.rs
  aya/src/maps/bloom_filter.rs
  aya/src/maps/hash_map/hash_map.rs
  aya/src/maps/hash_map/mod.rs
  aya/src/maps/hash_map/per_cpu_hash_map.rs
  aya/src/maps/lpm_trie.rs
  aya/src/maps/mod.rs
  aya/src/maps/perf/perf_event_array.rs
  aya/src/maps/queue.rs
  aya/src/maps/sock/sock_hash.rs
  aya/src/maps/sock/sock_map.rs
  aya/src/maps/stack.rs
  aya/src/maps/stack_trace.rs
  aya/src/sys/bpf.rs
  test/integration-test/src/tests/rbpf.rs
  xtask/public-api/aya-obj.txt
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review, aya-obj

#761 Fix macOS CI
  .github/workflows/ci.yml
Labels: test

#764 aya: fix docs build
  .github/workflows/ci.yml
  aya/src/maps/mod.rs
  aya/src/maps/perf/mod.rs
Labels: test, aya

#762 integration-test: Remove cargo symlink workaround
  test/integration-ebpf/Cargo.toml
  test/integration-ebpf/build.rs
  xtask/src/lib.rs
Labels: test

#763 aya: deny various allow-by-default lints
  Cargo.toml
  aya/Cargo.toml
  aya/src/bpf.rs
  aya/src/lib.rs
  aya/src/maps/array/array.rs
  aya/src/maps/array/per_cpu_array.rs
  aya/src/maps/array/program_array.rs
  aya/src/maps/bloom_filter.rs
  aya/src/maps/hash_map/hash_map.rs
  aya/src/maps/hash_map/per_cpu_hash_map.rs
  aya/src/maps/lpm_trie.rs
  aya/src/maps/mod.rs
  aya/src/maps/perf/async_perf_event_array.rs
  aya/src/maps/perf/perf_buffer.rs
  aya/src/maps/perf/perf_event_array.rs
  aya/src/maps/queue.rs
  aya/src/maps/sock/sock_hash.rs
  aya/src/maps/sock/sock_map.rs
  aya/src/maps/stack.rs
  aya/src/maps/stack_trace.rs
  aya/src/programs/cgroup_device.rs
  aya/src/programs/cgroup_skb.rs
  aya/src/programs/cgroup_sock.rs
  aya/src/programs/cgroup_sock_addr.rs
  aya/src/programs/cgroup_sockopt.rs
  aya/src/programs/cgroup_sysctl.rs
  aya/src/programs/kprobe.rs
  aya/src/programs/links.rs
  aya/src/programs/lirc_mode2.rs
  aya/src/programs/mod.rs
  aya/src/programs/perf_attach.rs
  aya/src/programs/perf_event.rs
  aya/src/programs/probe.rs
  aya/src/programs/tc.rs
  aya/src/programs/trace_point.rs
  aya/src/programs/uprobe.rs
  aya/src/programs/utils.rs
  aya/src/programs/xdp.rs
  aya/src/sys/bpf.rs
  aya/src/sys/fake.rs
  aya/src/sys/mod.rs
  aya/src/sys/netlink.rs
  aya/src/util.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#767 github: fix CI
  .github/workflows/ci.yml
  Cargo.toml
  xtask/src/lib.rs
  xtask/src/public_api.rs
  xtask/src/run.rs
Labels: test

#766 aya-obj: reduce indirection in section parsing
  aya-obj/src/obj.rs
  aya-obj/src/programs/cgroup_sock.rs
  aya-obj/src/programs/cgroup_sock_addr.rs
  aya-obj/src/programs/cgroup_sockopt.rs
Labels: aya-obj

#723 File descriptor safety for program fd + prog attaching
  aya/src/maps/sock/mod.rs
  aya/src/programs/cgroup_device.rs
  aya/src/programs/cgroup_skb.rs
  aya/src/programs/cgroup_sock.rs
  aya/src/programs/cgroup_sock_addr.rs
  aya/src/programs/cgroup_sockopt.rs
  aya/src/programs/cgroup_sysctl.rs
  aya/src/programs/extension.rs
  aya/src/programs/links.rs
  aya/src/programs/lirc_mode2.rs
  aya/src/programs/mod.rs
  aya/src/programs/perf_attach.rs
  aya/src/programs/perf_event.rs
  aya/src/programs/probe.rs
  aya/src/programs/sk_lookup.rs
  aya/src/programs/sk_msg.rs
  aya/src/programs/sk_skb.rs
  aya/src/programs/sock_ops.rs
  aya/src/programs/socket_filter.rs
  aya/src/programs/tc.rs
  aya/src/programs/trace_point.rs
  aya/src/programs/utils.rs
  aya/src/programs/xdp.rs
  aya/src/sys/bpf.rs
  aya/src/sys/netlink.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#771 netlink: use OwnedFd
  aya/src/programs/xdp.rs
  aya/src/sys/netlink.rs
Labels: aya

#772 programs: ProgAttachLink and LircLink hold owned FDs
  aya/src/programs/links.rs
  aya/src/programs/lirc_mode2.rs
  aya/src/sys/bpf.rs
Labels: aya
