Repository aya-rs/aya, pull requests merged in 2023-10, with the labels that each got.

#804 integration/xdp: increase timeout to 60 seconds
  test/integration-test/src/tests/xdp.rs
Labels: test

#783 aya: Implement dedicated map pinning
  aya/src/bpf.rs
  aya/src/maps/array/array.rs
  aya/src/maps/array/per_cpu_array.rs
  aya/src/maps/array/program_array.rs
  aya/src/maps/bloom_filter.rs
  aya/src/maps/hash_map/hash_map.rs
  aya/src/maps/hash_map/per_cpu_hash_map.rs
  aya/src/maps/lpm_trie.rs
  aya/src/maps/mod.rs
  aya/src/maps/queue.rs
  aya/src/maps/sock/sock_hash.rs
  aya/src/maps/stack.rs
  aya/src/maps/stack_trace.rs
  aya/src/maps/xdp/cpu_map.rs
  aya/src/maps/xdp/dev_map.rs
  aya/src/maps/xdp/dev_map_hash.rs
  aya/src/maps/xdp/xsk_map.rs
  test/integration-test/bpf/multimap-btf.bpf.c
  test/integration-test/src/tests/load.rs
  test/integration-test/src/tests/rbpf.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#813 maps: sort variants
  aya/src/maps/mod.rs
Labels: aya

#814 maps: sort variants
  aya/src/maps/mod.rs
Labels: aya

#629 aya,aya-ebpf: implement RingBuf
  Cargo.toml
  aya/src/bpf.rs
  aya/src/maps/mod.rs
  aya/src/maps/perf/perf_buffer.rs
  aya/src/maps/ring_buf.rs
  aya/src/sys/mod.rs
  bpf/aya-bpf/Cargo.toml
  bpf/aya-bpf/src/lib.rs
  bpf/aya-bpf/src/maps/mod.rs
  bpf/aya-bpf/src/maps/ring_buf.rs
  test/integration-ebpf/Cargo.toml
  test/integration-ebpf/src/ring_buf.rs
  test/integration-test/Cargo.toml
  test/integration-test/src/lib.rs
  test/integration-test/src/tests.rs
  test/integration-test/src/tests/ring_buf.rs
  xtask/public-api/aya-bpf.txt
  xtask/public-api/aya.txt
Labels: test, aya-bpf, aya, api/needs-review, aya-obj

#815 aya-log: fix hygiene
  aya-log-ebpf-macros/src/expand.rs
  test/integration-ebpf/src/log.rs
  test/integration-test/src/tests/log.rs
Labels: test

#817 integration-tests: enable logs
  Cargo.toml
  test/integration-test/Cargo.toml
  test/integration-test/src/tests/bpf_probe_read.rs
  test/integration-test/src/tests/elf.rs
  test/integration-test/src/tests/load.rs
  test/integration-test/src/tests/log.rs
  test/integration-test/src/tests/rbpf.rs
  test/integration-test/src/tests/relocations.rs
  test/integration-test/src/tests/ring_buf.rs
  test/integration-test/src/tests/smoke.rs
  test/integration-test/src/tests/xdp.rs
Labels: test

#818 aya: don't parse labels as programs
  aya-obj/src/obj.rs
Labels: aya-obj

#821 aya: fix unused async-io dependency linter error
  aya/Cargo.toml
Labels: aya

#823 aya-bpf-macros: appease clippy
  aya-bpf-macros/src/args.rs
Labels: aya-bpf

#826 aya-bpf-cty: remove empty module
  bpf/aya-bpf-cty/src/lib.rs
Labels: aya-bpf
