Repository aya-rs/aya, pull requests merged in 2023-11, with the labels that each got.

#829 public-api: bless with new nightly
  xtask/public-api/aya-bpf-bindings.txt
  xtask/public-api/aya-log-common.txt
  xtask/public-api/aya-log-parser.txt
  xtask/public-api/aya-obj.txt
  xtask/public-api/aya.txt
Labels: test, api/needs-review

#834 xtask: attempt to open /dev/kvm
  xtask/src/run.rs
Labels: test

#746 .github: Add markdownlint
  .github/workflows/ci.yml
  .markdownlint-cli2.yaml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  aya/README.md
  bpf/aya-bpf-cty/README.md
  test/README.md
Labels: test, aya-bpf, aya

#836 aya: make KernelVersion::code public
  aya/src/util.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#819 tests: add AF_XDP test using xdpilone
  Cargo.toml
  test/integration-test/Cargo.toml
  test/integration-test/src/tests/xdp.rs
Labels: test

#840 tests: update instructions on setting up and running tests
  test/README.md
Labels: test

#841 tests: change AF_XDP test `PacketMap` repr to `C`
  test/integration-test/src/tests/xdp.rs
Labels: test

#843 maps/ringbuf: make RingBuf: Send + Sync
  aya/src/maps/ring_buf.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#822 aya/maps: pin for (async)perf_event_array
  aya/src/maps/mod.rs
  aya/src/maps/perf/async_perf_event_array.rs
  aya/src/maps/perf/perf_event_array.rs
  test/integration-test/src/tests/load.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review
