Repository aya-rs/aya, pull requests merged in 2024-11, with the labels that each got.

#1074 Allow QEMU to fall back
  xtask/src/run.rs
Labels: test

#1080 ci: automatically download latest kernel revs
  .github/scripts/download_kernel_images.sh
  .github/workflows/ci.yml
Labels: test

#1083 ci: automatically open PRs to update public API
  .github/workflows/ci.yml
Labels: test

#871 bpf: Add `bpf_strncmp` helper
  ebpf/aya-ebpf/src/helpers.rs
  test/integration-ebpf/Cargo.toml
  test/integration-ebpf/src/strncmp.rs
  test/integration-test/src/lib.rs
  test/integration-test/src/tests.rs
  test/integration-test/src/tests/strncmp.rs
  xtask/public-api/aya-ebpf.txt
Labels: test, aya-bpf

#1092 fix unsupported maps warning message
  aya/src/bpf.rs
  aya/src/maps/mod.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#1093 cargo fmt
  aya/src/maps/mod.rs
Labels: aya

#1094 Define `{detach,take_link}` in macro when possible
  aya/src/programs/cgroup_device.rs
  aya/src/programs/cgroup_skb.rs
  aya/src/programs/cgroup_sock.rs
  aya/src/programs/cgroup_sock_addr.rs
  aya/src/programs/cgroup_sockopt.rs
  aya/src/programs/cgroup_sysctl.rs
  aya/src/programs/extension.rs
  aya/src/programs/fentry.rs
  aya/src/programs/fexit.rs
  aya/src/programs/iter.rs
  aya/src/programs/kprobe.rs
  aya/src/programs/links.rs
  aya/src/programs/lirc_mode2.rs
  aya/src/programs/lsm.rs
  aya/src/programs/mod.rs
  aya/src/programs/perf_event.rs
  aya/src/programs/raw_trace_point.rs
  aya/src/programs/sk_lookup.rs
  aya/src/programs/sk_msg.rs
  aya/src/programs/sk_skb.rs
  aya/src/programs/sock_ops.rs
  aya/src/programs/socket_filter.rs
  aya/src/programs/tc.rs
  aya/src/programs/tp_btf.rs
  aya/src/programs/trace_point.rs
  aya/src/programs/uprobe.rs
  aya/src/programs/xdp.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review
