Repository aya-rs/aya, pull requests merged in 2024-01, with the labels that each got.

#861 Appease new nightly lints
  aya/src/lib.rs
  bpf/aya-bpf/src/helpers.rs
Labels: aya-bpf, aya

#862 public-api: regenerate
  xtask/public-api/aya.txt
Labels: test, api/needs-review

#865 aya: appease new nightly clippy lints
  aya/src/bpf.rs
  aya/src/sys/fake.rs
Labels: aya

#867 Batch dependabot updates
  .github/dependabot.yml
Labels: test

#870 Revert "bpf: appease nightly lint"
  bpf/aya-bpf/src/helpers.rs
Labels: aya-bpf

#875 public-api: regenerate
  xtask/public-api/aya-bpf-bindings.txt
  xtask/public-api/aya-log-common.txt
  xtask/public-api/aya-log-parser.txt
  xtask/public-api/aya-obj.txt
  xtask/public-api/aya.txt
Labels: test, api/needs-review

#876 aya: add StackTraceMap::remove()
  aya/src/maps/stack_trace.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#877 aya: perf_event: add inherit argument to attach()
  aya/src/programs/perf_event.rs
  aya/src/sys/perf_event.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review, api/approved
