Repository aya-rs/aya, pull requests merged in 2024-08, with the labels that each got.

#1009 Revert "Remove unused `allow(dead_code)`"
  aya-log/src/lib.rs
Labels: aya-log

#1006 codegen: add `tcx_action_base` enum to bindings
  xtask/src/codegen/aya_ebpf_bindings.rs
Labels: test

#1010 Update libbpf to b07dfe3b2a6cb0905e883510f22f9f7c0bb66d0d
  ebpf/aya-ebpf-bindings/src/aarch64/bindings.rs
  ebpf/aya-ebpf-bindings/src/armv7/bindings.rs
  ebpf/aya-ebpf-bindings/src/powerpc64/bindings.rs
  ebpf/aya-ebpf-bindings/src/riscv64/bindings.rs
  ebpf/aya-ebpf-bindings/src/s390x/bindings.rs
  ebpf/aya-ebpf-bindings/src/x86_64/bindings.rs
  xtask/public-api/aya-ebpf-bindings.txt
Labels: test, aya-bpf

#1012 public-api: regenerate
  xtask/public-api/aya-ebpf-bindings.txt
  xtask/public-api/aya-ebpf.txt
  xtask/public-api/aya-log-common.txt
  xtask/public-api/aya-obj.txt
  xtask/public-api/aya.txt
Labels: test, api/needs-review

#1013 Add a 6.10 linux kernel to the virtualized testing in CI
  .github/workflows/ci.yml
  Cargo.toml
Labels: test

#974 aya: add archs powerpc64 and s390x to aya
  .cargo/config.toml
  .github/workflows/ci.yml
  Cargo.toml
  aya-log/src/lib.rs
  aya-obj/src/btf/btf.rs
  aya-obj/src/btf/relocation.rs
  aya-obj/src/btf/types.rs
  aya-obj/src/generated/mod.rs
  aya-obj/src/obj.rs
  aya/src/maps/perf/perf_buffer.rs
  aya/src/sys/bpf.rs
  ebpf/aya-ebpf-bindings/build.rs
  ebpf/aya-ebpf-bindings/src/lib.rs
  ebpf/aya-ebpf-bindings/src/powerpc64/mod.rs
  ebpf/aya-ebpf-bindings/src/s390x/mod.rs
  ebpf/aya-ebpf-cty/build.rs
  ebpf/aya-ebpf-cty/src/lib.rs
  ebpf/aya-ebpf/build.rs
  ebpf/aya-ebpf/src/args.rs
  ebpf/aya-ebpf/src/programs/probe.rs
  ebpf/aya-ebpf/src/programs/retprobe.rs
Labels: test, aya-bpf, aya, aya-obj, aya-log
