Repository aya-rs/aya, pull requests merged in 2024-12, with the labels that each got.

#1102 Extract integration-common for shared types
  Cargo.toml
  clippy.sh
  test/integration-common/Cargo.toml
  test/integration-common/src/lib.rs
  test/integration-ebpf/Cargo.toml
  test/integration-ebpf/src/bpf_probe_read.rs
  test/integration-ebpf/src/ring_buf.rs
  test/integration-ebpf/src/strncmp.rs
  test/integration-test/Cargo.toml
  test/integration-test/src/tests/bpf_probe_read.rs
  test/integration-test/src/tests/ring_buf.rs
  test/integration-test/src/tests/strncmp.rs
Labels: test

#1106 aya-ebpf-macros: remove aya-ebpf version
  aya-ebpf-macros/Cargo.toml
Labels: aya-bpf

#1108 Replace proc-macro-error with proc-macro2-diagnostics
  Cargo.toml
  aya-ebpf-macros/Cargo.toml
  aya-ebpf-macros/src/btf_tracepoint.rs
  aya-ebpf-macros/src/cgroup_device.rs
  aya-ebpf-macros/src/cgroup_skb.rs
  aya-ebpf-macros/src/cgroup_sock.rs
  aya-ebpf-macros/src/cgroup_sock_addr.rs
  aya-ebpf-macros/src/cgroup_sockopt.rs
  aya-ebpf-macros/src/cgroup_sysctl.rs
  aya-ebpf-macros/src/fentry.rs
  aya-ebpf-macros/src/fexit.rs
  aya-ebpf-macros/src/kprobe.rs
  aya-ebpf-macros/src/lib.rs
  aya-ebpf-macros/src/lsm.rs
  aya-ebpf-macros/src/map.rs
  aya-ebpf-macros/src/perf_event.rs
  aya-ebpf-macros/src/raw_tracepoint.rs
  aya-ebpf-macros/src/sk_lookup.rs
  aya-ebpf-macros/src/sk_msg.rs
  aya-ebpf-macros/src/sk_skb.rs
  aya-ebpf-macros/src/sock_ops.rs
  aya-ebpf-macros/src/socket_filter.rs
  aya-ebpf-macros/src/tc.rs
  aya-ebpf-macros/src/tracepoint.rs
  aya-ebpf-macros/src/uprobe.rs
  aya-ebpf-macros/src/xdp.rs
Labels: aya-bpf

#1115 ci: download gen_init_cpio with authentication
  .github/workflows/ci.yml
  Cargo.toml
  xtask/Cargo.toml
  xtask/src/run.rs
Labels: test

#1114 ci: cache downloads
  .github/scripts/download_kernel_images.sh
  .github/workflows/ci.yml
  test/README.md
  xtask/src/run.rs
Labels: test

#1121 chore: Fix cippy errors
  aya-log-parser/src/lib.rs
  aya-obj/src/btf/relocation.rs
  aya/src/maps/lpm_trie.rs
  aya/src/sys/mod.rs
  ebpf/aya-ebpf/src/maps/lpm_trie.rs
  ebpf/aya-ebpf/src/maps/perf/perf_event_array.rs
  ebpf/aya-ebpf/src/maps/perf/perf_event_byte_array.rs
  xtask/public-api/aya-ebpf.txt
  xtask/public-api/aya.txt
Labels: test, aya-bpf, aya, api/needs-review, aya-obj

#1122 Appease clippy
  aya-log-parser/src/lib.rs
  aya/src/sys/mod.rs
Labels: aya-bpf, aya, aya-obj

#1119 docs: update docs for load to mention include_bytes_aligned
  aya/src/bpf.rs
Labels: aya

#1127 Allow `+bpo` kernels
  .github/scripts/download_kernel_images.sh
Labels: test
