Repository aya-rs/aya, pull requests merged in 2024-07, with the labels that each got.

#981 Bump kernel image revision
  .github/workflows/ci.yml
Labels: test

#983 aya::programs::uprobe: fix bad variable name
  aya/src/programs/uprobe.rs
Labels: aya

#988 codegen: add `bpf_stats_type` to codegen
  xtask/src/codegen/aya.rs
Labels: test

#989 Update libbpf to 686f600bca59e107af4040d0838ca2b02c14ff50
  aya-obj/src/generated/linux_bindings_aarch64.rs
  aya-obj/src/generated/linux_bindings_armv7.rs
  aya-obj/src/generated/linux_bindings_powerpc64.rs
  aya-obj/src/generated/linux_bindings_riscv64.rs
  aya-obj/src/generated/linux_bindings_s390x.rs
  aya-obj/src/generated/linux_bindings_x86_64.rs
  xtask/public-api/aya-obj.txt
Labels: test, aya-obj

#991 docs(aya): fix typo
  aya/src/maps/ring_buf.rs
Labels: aya

#994 Remove unused `allow(dead_code)`
  aya-log/src/lib.rs
Labels: aya-log

#997 Fix CI on macOS
  .github/workflows/ci.yml
Labels: test

#998 ci: Use apt repository with LLVM 18 explicitly
  .github/workflows/ci.yml
Labels: test

#1001 Use MockableFd everywhere
  aya/src/bpf.rs
  aya/src/lib.rs
  aya/src/maps/mod.rs
  aya/src/maps/perf/perf_buffer.rs
  aya/src/programs/cgroup_device.rs
  aya/src/programs/extension.rs
  aya/src/programs/links.rs
  aya/src/programs/lirc_mode2.rs
  aya/src/programs/mod.rs
  aya/src/programs/perf_attach.rs
  aya/src/programs/probe.rs
  aya/src/sys/bpf.rs
  aya/src/sys/netlink.rs
  aya/src/sys/perf_event.rs
Labels: aya

#1004 fix(aya): Fix PerfEventArray resize logic
  aya/src/maps/bloom_filter.rs
  aya/src/maps/lpm_trie.rs
  aya/src/maps/mod.rs
  aya/src/sys/bpf.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review
