Repository aya-rs/aya, pull requests merged in 2024-06, with the labels that each got.

#963 fix(docs): rustdoc flag correction to `-D warnings`
  .taplo.toml
  aya/Cargo.toml
Labels: aya

#964 Don't deny unused_qualifications
  aya/src/lib.rs
Labels: aya

#969 Appease clippy
  aya/src/util.rs
Labels: aya

#909 fix(aya): Fix panic when creating map on custom ubuntu kernel
  aya/src/util.rs
Labels: aya

#972 public-api: regenerate
  xtask/public-api/aya-ebpf-bindings.txt
  xtask/public-api/aya-ebpf.txt
  xtask/public-api/aya-log-common.txt
  xtask/public-api/aya-obj.txt
Labels: test

#973 public-api: regenerate
  xtask/public-api/aya-ebpf-bindings.txt
  xtask/public-api/aya-ebpf.txt
  xtask/public-api/aya-log-common.txt
  xtask/public-api/aya-log-parser.txt
  xtask/public-api/aya-obj.txt
  xtask/public-api/aya.txt
Labels: test, api/needs-review

#975 chore(xtask): Add s390x and powerpc64 to codegen
  xtask/src/codegen/aya.rs
  xtask/src/codegen/aya_ebpf_bindings.rs
  xtask/src/codegen/mod.rs
Labels: test

#976 ci: Fix codegen and prep for s390/ppc64el
  .github/workflows/gen.yml
Labels: test

#977 chore(xtask): Create bindings dir
  xtask/src/codegen/aya_ebpf_bindings.rs
Labels: test
