Repository aya-rs/aya, pull requests merged in 2024-03, with the labels that each got.

#897 aya-bpf-macros: fix cgroup/skb section name
  aya-bpf-macros/src/cgroup_skb.rs
Labels: aya-bpf

#898 aya: appease new nightly clippy lints
  aya/src/maps/mod.rs
  aya/src/maps/ring_buf.rs
  aya/src/programs/mod.rs
  aya/src/util.rs
Labels: aya

#894 Add `CgroupDevice::query`
  aya/src/programs/cgroup_device.rs
  aya/src/programs/links.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#901 aya: include license in crate workspace
  aya/LICENSE-APACHE
  aya/LICENSE-MIT
Labels: aya

#906 public-api: regenerate
  xtask/public-api/aya-ebpf-bindings.txt
  xtask/public-api/aya-ebpf.txt
  xtask/public-api/aya-log-common.txt
  xtask/public-api/aya-log-parser.txt
  xtask/public-api/aya-log.txt
  xtask/public-api/aya-obj.txt
  xtask/public-api/aya-tool.txt
  xtask/public-api/aya.txt
Labels: test, api/needs-review
