Repository aya-rs/aya, pull requests merged in 2024-05, with the labels that each got.

#928 Expose io_error in SyscallError
  aya/src/sys/mod.rs
Labels: aya

#938 aya: add symbol lookup in associated debug files
  aya/Cargo.toml
  aya/src/programs/uprobe.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#945 Reduce dependabot toil
  .github/dependabot.yml
Labels: test

#952 Appease clippy
  test/integration-test/build.rs
Labels: test

#956 Remove deny(pointer_structural_match)
  aya/src/lib.rs
Labels: aya
