Repository aya-rs/aya, pull requests merged in 2024-09, with the labels that each got.

#959 aya,aya-obj: expose run_time_ns & run_cnt fields, and add bpf_enable_stats util function
  aya/src/lib.rs
  aya/src/programs/mod.rs
  aya/src/sys/bpf.rs
  aya/src/sys/mod.rs
  test/integration-test/src/tests/smoke.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review, aya-obj

#1007 aya,aya-obj,integration-test: add better support in `ProgramInfo` & `MapInfo` for old kernels
  aya-log/src/lib.rs
  aya-obj/src/lib.rs
  aya-obj/src/links.rs
  aya-obj/src/maps.rs
  aya-obj/src/obj.rs
  aya-obj/src/programs/mod.rs
  aya-obj/src/programs/types.rs
  aya/src/bpf.rs
  aya/src/lib.rs
  aya/src/maps/info.rs
  aya/src/maps/mod.rs
  aya/src/programs/info.rs
  aya/src/programs/mod.rs
  aya/src/sys/bpf.rs
  aya/src/util.rs
  test/integration-ebpf/Cargo.toml
  test/integration-ebpf/src/map_test.rs
  test/integration-ebpf/src/simple_prog.rs
  test/integration-test/src/lib.rs
  test/integration-test/src/tests.rs
  test/integration-test/src/tests/info.rs
  test/integration-test/src/tests/load.rs
  test/integration-test/src/tests/smoke.rs
  test/integration-test/src/utils.rs
  xtask/public-api/aya-obj.txt
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review, aya-obj, aya-log

#1018 codegen: add `bpf_perf_event_type` enum bindings
  xtask/src/codegen/aya.rs
Labels: test

#985 Add the option to support multiple and overrideable programs per cgroup
  aya/src/programs/cgroup_device.rs
  aya/src/programs/cgroup_skb.rs
  aya/src/programs/cgroup_sock.rs
  aya/src/programs/cgroup_sock_addr.rs
  aya/src/programs/cgroup_sockopt.rs
  aya/src/programs/cgroup_sysctl.rs
  aya/src/programs/links.rs
  aya/src/programs/lirc_mode2.rs
  aya/src/programs/mod.rs
  aya/src/programs/sk_msg.rs
  aya/src/programs/sk_skb.rs
  aya/src/programs/sock_ops.rs
  aya/src/sys/bpf.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#1020 aya-ebpf: Add set_reply accessor to SockOpsContext
  ebpf/aya-ebpf/src/programs/sock_ops.rs
  xtask/public-api/aya-ebpf.txt
Labels: test, aya-bpf

#1021 aya: remove `unwrap`/`expect` and `NonZero*` in info
  aya-log/src/lib.rs
  aya/src/maps/info.rs
  aya/src/maps/mod.rs
  aya/src/programs/info.rs
  test/integration-test/src/tests/info.rs
  test/integration-test/src/tests/load.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review, aya-obj, aya-log

#1023 aya: use FdLink in SockOps programs
  aya/src/programs/sock_ops.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#1029 Fix linux kernel version in gh ci runners
  .github/workflows/ci.yml
Labels: test

#1035 Appease `static_mut_refs`
  test/integration-ebpf/src/redirect.rs
  test/integration-ebpf/src/relocations.rs
  test/integration-test/src/tests/rbpf.rs
Labels: test

#1022 ci: Use libLLVM from Rust CI tarball
  .github/workflows/ci.yml
Labels: test

#1040 Appease clippy
  aya/src/maps/bloom_filter.rs
  aya/src/maps/lpm_trie.rs
  test/integration-ebpf/build.rs
  test/integration-test/build.rs
  test/integration-test/src/tests/xdp.rs
Labels: test, aya
