Repository aya-rs/aya, pull requests merged in 2024-10, with the labels that each got.

#1043 perf: cache `nr_cpus` in a thread_local
  Cargo.toml
  aya/Cargo.toml
  aya/src/util.rs
Labels: test, aya, api/needs-review, aya-log

#1008 fix(aya-log): print &[u8] using full width
  aya-log/src/lib.rs
  xtask/public-api/aya-log.txt
Labels: test, aya-log

#1046 Appease clippy
  aya-obj/src/obj.rs
Labels: aya-obj

#921 Tcx
  aya/src/programs/cgroup_device.rs
  aya/src/programs/cgroup_skb.rs
  aya/src/programs/cgroup_sock.rs
  aya/src/programs/cgroup_sock_addr.rs
  aya/src/programs/cgroup_sockopt.rs
  aya/src/programs/cgroup_sysctl.rs
  aya/src/programs/extension.rs
  aya/src/programs/links.rs
  aya/src/programs/lirc_mode2.rs
  aya/src/programs/mod.rs
  aya/src/programs/perf_attach.rs
  aya/src/programs/sk_lookup.rs
  aya/src/programs/sock_ops.rs
  aya/src/programs/tc.rs
  aya/src/programs/xdp.rs
  aya/src/sys/bpf.rs
  aya/src/sys/netlink.rs
  test/integration-ebpf/Cargo.toml
  test/integration-ebpf/src/tcx.rs
  test/integration-test/src/lib.rs
  test/integration-test/src/tests.rs
  test/integration-test/src/tests/tcx.rs
  xtask/public-api/aya.txt
Labels: test, aya-bpf, aya, api/needs-review, aya-obj

#1053 codegen: add `bpfcgroup_iter_order` `NFPROTO*` `nf_inet_hooks`
  aya-obj/include/linux_wrapper.h
  xtask/src/codegen/aya.rs
Labels: test, aya-obj

#1054 Remove workspace members from workspace.dependencies
  Cargo.toml
  test/integration-test/Cargo.toml
Labels: test

#1069 qemu: remove bios argument
  .github/workflows/ci.yml
  xtask/src/run.rs
Labels: test
