Repository aya-rs/aya, pull requests merged in 2024-02, with the labels that each got.

#880 fix(aya-sock-map): invalid transmute when calling fd
  aya/src/maps/sock/sock_map.rs
Labels: aya

#881 Appease rustc dead_code lint
  aya-log/src/lib.rs
  aya/src/maps/perf/perf_buffer.rs
  aya/src/programs/probe.rs
Labels: aya, aya-log

#885 chore: Appease clippy unused imports
  aya-obj/src/obj.rs
  aya-obj/src/relocation.rs
  aya-tool/src/bindgen.rs
  aya/src/maps/bloom_filter.rs
  aya/src/maps/lpm_trie.rs
  aya/src/maps/mod.rs
  aya/src/maps/perf/perf_buffer.rs
  aya/src/programs/xdp.rs
Labels: aya, aya-obj, aya-tool

#883 Fix macOS CI
  .github/workflows/ci.yml
  test/integration-test/build.rs
  xtask/src/run.rs
Labels: test

#882 chore: Use the cargo workspace package table
  Cargo.toml
  aya-bpf-macros/Cargo.toml
  aya-log-common/Cargo.toml
  aya-log-ebpf-macros/Cargo.toml
  aya-log-parser/Cargo.toml
  aya-log/Cargo.toml
  aya-obj/Cargo.toml
  aya-tool/Cargo.toml
  aya/Cargo.toml
  bpf/aya-bpf-bindings/Cargo.toml
  bpf/aya-bpf-cty/Cargo.toml
  bpf/aya-bpf/Cargo.toml
  bpf/aya-log-ebpf/Cargo.toml
  init/Cargo.toml
  test/integration-ebpf/Cargo.toml
  test/integration-test/Cargo.toml
  xtask/Cargo.toml
Labels: test, aya-bpf, aya, aya-obj, aya-log, aya-tool

#890 aya: appease new nightly clippy lints
  aya-obj/src/obj.rs
Labels: aya-obj

#889 docs: Document breaking changes
  aya/BREAKING-CHANGES.md
Labels: aya

#891 Add Generated Changelogs for aya and aya-obj
  .markdownlint-cli2.yaml
  aya-obj/CHANGELOG.md
  aya/CHANGELOG.md
Labels: aya, aya-obj

#892 docs(aya): Document more breaking changes
  aya/BREAKING-CHANGES.md
Labels: aya
