Repository aya-rs/aya, pull requests merged in 2024-04, with the labels that each got.

#917 fix(xtask): corrected bpf to ebpf for path to aya-ebpf-bindings in codegen
  xtask/src/codegen/aya.rs
  xtask/src/codegen/aya_ebpf_bindings.rs
Labels: test

#920 public-api: regenerate
  xtask/public-api/aya.txt
Labels: test, api/needs-review

#922 Appease clippy
  aya-log-common/src/lib.rs
  aya/src/maps/mod.rs
Labels: aya, aya-log

#926 public-api: regenerate
  xtask/public-api/aya.txt
Labels: test, api/needs-review

#927 Mark aya-tool publish=false
  aya-tool/Cargo.toml
  xtask/public-api/aya-tool.txt
Labels: test, aya-tool

#939 fix CI failures on macos
  .github/workflows/ci.yml
Labels: test

#900 aya-log: allow re-attach and read previously created logs
  aya-log/src/lib.rs
  xtask/public-api/aya-log.txt
Labels: test, aya-log
