Repository aya-rs/aya, pull requests merged in 2025-09, with the labels that each got.

#1332 aya-obj, aya-ebpf-bindings: regenerate
  aya-obj/src/generated/btf_internal_bindings.rs
  aya-obj/src/generated/linux_bindings_aarch64.rs
  aya-obj/src/generated/linux_bindings_armv7.rs
  aya-obj/src/generated/linux_bindings_loongarch64.rs
  aya-obj/src/generated/linux_bindings_mips.rs
  aya-obj/src/generated/linux_bindings_powerpc64.rs
  aya-obj/src/generated/linux_bindings_riscv64.rs
  aya-obj/src/generated/linux_bindings_s390x.rs
  aya-obj/src/generated/linux_bindings_x86_64.rs
Labels: aya-obj

#1337 Do not make the static mut to prevent verification failure
  ebpf/aya-log-ebpf/src/lib.rs
  test/integration-ebpf/src/log.rs
  test/integration-test/src/tests/log.rs
Labels: test, aya-log

#1339 aya-log-ebpf: allow macros in expr position
  aya-log-ebpf-macros/src/expand.rs
  test/integration-ebpf/src/log.rs
Labels: test

#1346 public-api: regenerate
  xtask/public-api/aya.txt
Labels: test, api/needs-review
