Repository aya-rs/aya, pull requests merged in 2025-07, with the labels that each got.

#1290 integration-test: add missing `test_log` decorator
  test/integration-test/src/tests/bpf_probe_read.rs
  test/integration-test/src/tests/btf_relocations.rs
  test/integration-test/src/tests/elf.rs
  test/integration-test/src/tests/feature_probe.rs
  test/integration-test/src/tests/info.rs
  test/integration-test/src/tests/iter.rs
  test/integration-test/src/tests/load.rs
  test/integration-test/src/tests/log.rs
  test/integration-test/src/tests/raw_tracepoint.rs
  test/integration-test/src/tests/rbpf.rs
  test/integration-test/src/tests/relocations.rs
  test/integration-test/src/tests/ring_buf.rs
  test/integration-test/src/tests/smoke.rs
  test/integration-test/src/tests/strncmp.rs
  test/integration-test/src/tests/tcx.rs
  test/integration-test/src/tests/uprobe_cookie.rs
  test/integration-test/src/tests/xdp.rs
Labels: test

#1286 aya: `construct_debuglink_path()` should be infallible
  aya/src/programs/uprobe.rs
Labels: aya

#1295 ci: Fix bpf-linker installation
  .github/workflows/ci.yml
Labels: test

#1300 aya-log: Use `None` instead of wildcard in `Format` impls
  aya-log/src/lib.rs
Labels: aya-log

#1299 aya-log: simplify map name matching using direct Option comparison
  aya-log/src/lib.rs
Labels: aya-log
