Repository aya-rs/aya, pull requests merged in 2025-02, with the labels that each got.

#1156 chore(codegen): Add nlmsgerr_attrs
  xtask/src/codegen/aya.rs
Labels: test

#1158 Update libbpf to d4a841a32b04d69194ab5bdac359a51938a206ce
  aya-obj/src/generated/linux_bindings_aarch64.rs
  aya-obj/src/generated/linux_bindings_armv7.rs
  aya-obj/src/generated/linux_bindings_mips.rs
  aya-obj/src/generated/linux_bindings_powerpc64.rs
  aya-obj/src/generated/linux_bindings_riscv64.rs
  aya-obj/src/generated/linux_bindings_s390x.rs
  aya-obj/src/generated/linux_bindings_x86_64.rs
  xtask/public-api/aya-obj.txt
Labels: test, aya-obj

#690 aya: Return error messages from netlink
  aya/src/programs/mod.rs
  aya/src/programs/tc.rs
  aya/src/programs/xdp.rs
  aya/src/sys/netlink.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#1159 ci: Update codegen PR template
  .github/workflows/gen.yml
Labels: test

#1167 chore(aya-obj, aya-ebpf-bindings): Regenerate bindings
  aya-obj/src/generated/linux_bindings_aarch64.rs
  aya-obj/src/generated/linux_bindings_armv7.rs
  aya-obj/src/generated/linux_bindings_mips.rs
  aya-obj/src/generated/linux_bindings_powerpc64.rs
  aya-obj/src/generated/linux_bindings_riscv64.rs
  aya-obj/src/generated/linux_bindings_s390x.rs
  aya-obj/src/generated/linux_bindings_x86_64.rs
  xtask/public-api/aya-obj.txt
Labels: test, aya-obj
