Repository aya-rs/aya, pull requests merged in 2025-03, with the labels that each got.

#1182 aya: Fix PerCpuHashMap NotFound
  aya/src/maps/hash_map/per_cpu_hash_map.rs
  aya/src/sys/bpf.rs
  aya/src/util.rs
Labels: aya

#1188 gen: run on ubuntu-latest
  .github/workflows/gen.yml
Labels: test

#1192 *: appease clippy
  aya-tool/src/rustfmt.rs
  aya/src/maps/ring_buf.rs
  aya/src/programs/probe.rs
  aya/src/programs/trace_point.rs
  aya/src/programs/utils.rs
  aya/src/sys/netlink.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review, aya-tool

#1191 tests: use `cfg!` to tidy up
  aya-log/src/lib.rs
  aya-obj/src/btf/btf.rs
  aya-obj/src/btf/relocation.rs
  aya-obj/src/obj.rs
Labels: aya-obj, aya-log

#1195 aya: add TODO to remove once_cell
  aya/src/util.rs
Labels: aya

#1143 integration-test: allow llvm-objcopy env override
  test/integration-test/build.rs
Labels: test

#1141 aya-ebpf: add ifindex support to XdpContext
  ebpf/aya-ebpf/src/programs/xdp.rs
  xtask/public-api/aya-ebpf.txt
Labels: test, aya-bpf

#1197 chore(xtask): Add loongarch64 to codegen
  .github/workflows/gen.yml
  xtask/src/codegen/aya.rs
  xtask/src/codegen/aya_ebpf_bindings.rs
  xtask/src/codegen/mod.rs
Labels: test

#1202 aya-tool: do not attempt to run rustfmt
  .github/workflows/ci.yml
  .github/workflows/gen.yml
  aya-obj/src/generated/linux_bindings_aarch64.rs
  aya-obj/src/generated/linux_bindings_armv7.rs
  aya-obj/src/generated/linux_bindings_mips.rs
  aya-obj/src/generated/linux_bindings_powerpc64.rs
  aya-obj/src/generated/linux_bindings_riscv64.rs
  aya-obj/src/generated/linux_bindings_s390x.rs
  aya-obj/src/generated/linux_bindings_x86_64.rs
  aya-tool/src/generate.rs
  aya-tool/src/lib.rs
  aya-tool/src/rustfmt.rs
  ebpf/aya-ebpf-bindings/src/aarch64/bindings.rs
  ebpf/aya-ebpf-bindings/src/armv7/bindings.rs
  ebpf/aya-ebpf-bindings/src/mips/bindings.rs
  ebpf/aya-ebpf-bindings/src/powerpc64/bindings.rs
  ebpf/aya-ebpf-bindings/src/riscv64/bindings.rs
  ebpf/aya-ebpf-bindings/src/s390x/bindings.rs
  ebpf/aya-ebpf-bindings/src/x86_64/bindings.rs
  xtask/src/codegen/aya_ebpf_bindings.rs
Labels: test, aya-bpf, aya-obj, aya-tool

#1205 Avoid allocations when parsing /proc/{pid}/maps
  aya/src/programs/uprobe.rs
Labels: aya

#848 aya: Add `XskMap::unset`
  aya/src/maps/xdp/xsk_map.rs
  test/integration-test/src/tests/xdp.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#1211 programs: allow program names to be static strings
  aya/src/bpf.rs
  aya/src/programs/mod.rs
Labels: aya

#1216 aya: Ensure that truncated map names are NULL terminated
  aya/src/sys/bpf.rs
  test/integration-ebpf/src/map_test.rs
Labels: test, aya

#1160 feat: Refactor init into test-distro
  .github/scripts/find_kernels.py
  .github/workflows/ci.yml
  .vscode/settings.json
  Cargo.toml
  init/Cargo.toml
  test-distro/Cargo.toml
  test-distro/src/depmod.rs
  test-distro/src/init.rs
  test-distro/src/lib.rs
  test-distro/src/modprobe.rs
  test/integration-test/src/lib.rs
  test/integration-test/src/tests/smoke.rs
  xtask/Cargo.toml
  xtask/src/run.rs
Labels: test

#1223 Update README.md
  README.md
Labels: test

#1222 Add support for Flow Dissector programs
  aya-ebpf-macros/src/flow_dissector.rs
  aya-ebpf-macros/src/lib.rs
  aya-obj/src/obj.rs
  aya/src/bpf.rs
  aya/src/programs/flow_dissector.rs
  aya/src/programs/mod.rs
  ebpf/aya-ebpf/src/programs/flow_dissector.rs
  ebpf/aya-ebpf/src/programs/mod.rs
  test/integration-ebpf/src/test.rs
  test/integration-test/src/tests/load.rs
  xtask/public-api/aya-ebpf-macros.txt
  xtask/public-api/aya-ebpf.txt
  xtask/public-api/aya-obj.txt
  xtask/public-api/aya.txt
Labels: test, aya-bpf, aya, api/needs-review, aya-obj

#1224 chore(*): set clippy unused_trait_names = warn
  Cargo.toml
  aya-log/src/lib.rs
  aya-obj/src/btf/btf.rs
  aya-obj/src/btf/info.rs
  aya-obj/src/btf/relocation.rs
  aya-obj/src/btf/types.rs
  aya-obj/src/obj.rs
  aya-obj/src/relocation.rs
  aya-tool/src/generate.rs
  aya/src/maps/perf/perf_event_array.rs
  aya/src/maps/xdp/cpu_map.rs
  aya/src/maps/xdp/dev_map.rs
  aya/src/maps/xdp/dev_map_hash.rs
  aya/src/maps/xdp/xsk_map.rs
  aya/src/programs/probe.rs
  aya/src/programs/socket_filter.rs
  aya/src/programs/uprobe.rs
  aya/src/programs/utils.rs
  ebpf/aya-ebpf/src/maps/sock_hash.rs
  ebpf/aya-ebpf/src/maps/sock_map.rs
  test/integration-ebpf/src/uprobe_cookie.rs
  test/integration-test/src/tests/elf.rs
  test/integration-test/src/tests/iter.rs
  test/integration-test/src/tests/xdp.rs
  xtask/src/codegen/aya_ebpf_bindings.rs
  xtask/src/codegen/helpers.rs
Labels: test, aya-bpf, aya, aya-obj, aya-log, aya-tool

#1209 feat: Allow conversions to Program from ProgramInfo
  aya/src/bpf.rs
  aya/src/programs/cgroup_device.rs
  aya/src/programs/cgroup_skb.rs
  aya/src/programs/cgroup_sock.rs
  aya/src/programs/cgroup_sock_addr.rs
  aya/src/programs/cgroup_sockopt.rs
  aya/src/programs/cgroup_sysctl.rs
  aya/src/programs/extension.rs
  aya/src/programs/fentry.rs
  aya/src/programs/fexit.rs
  aya/src/programs/flow_dissector.rs
  aya/src/programs/iter.rs
  aya/src/programs/kprobe.rs
  aya/src/programs/lirc_mode2.rs
  aya/src/programs/lsm.rs
  aya/src/programs/mod.rs
  aya/src/programs/perf_event.rs
  aya/src/programs/raw_trace_point.rs
  aya/src/programs/sk_lookup.rs
  aya/src/programs/sk_msg.rs
  aya/src/programs/sk_skb.rs
  aya/src/programs/sock_ops.rs
  aya/src/programs/socket_filter.rs
  aya/src/programs/tc.rs
  aya/src/programs/tp_btf.rs
  aya/src/programs/trace_point.rs
  aya/src/programs/uprobe.rs
  aya/src/programs/xdp.rs
  test/integration-test/src/tests/info.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#1234 chore: Fix clippy panic_handler warnings
  Cargo.toml
  clippy.sh
  ebpf-panic/Cargo.toml
  ebpf-panic/src/lib.rs
  test/integration-ebpf/Cargo.toml
  test/integration-ebpf/src/bpf_probe_read.rs
  test/integration-ebpf/src/log.rs
  test/integration-ebpf/src/map_test.rs
  test/integration-ebpf/src/memmove_test.rs
  test/integration-ebpf/src/name_test.rs
  test/integration-ebpf/src/pass.rs
  test/integration-ebpf/src/raw_tracepoint.rs
  test/integration-ebpf/src/redirect.rs
  test/integration-ebpf/src/relocations.rs
  test/integration-ebpf/src/ring_buf.rs
  test/integration-ebpf/src/simple_prog.rs
  test/integration-ebpf/src/strncmp.rs
  test/integration-ebpf/src/tcx.rs
  test/integration-ebpf/src/test.rs
  test/integration-ebpf/src/two_progs.rs
  test/integration-ebpf/src/uprobe_cookie.rs
  test/integration-ebpf/src/xdp_sec.rs
Labels: test

#1228 feat(aya-build): allow setting Rust version
  aya-build/src/lib.rs
  test/integration-test/build.rs
  xtask/public-api/aya-build.txt
Labels: test

#1236 xtask: Move libbpf header installation logic to a helper function
  test/integration-test/build.rs
  xtask/src/codegen/aya_ebpf_bindings.rs
  xtask/src/lib.rs
Labels: test

#1235 aya: fix is_probe_read_kernel_supported in aarch64 kernels 5.5
  aya/src/sys/bpf.rs
Labels: aya

#1238 chore: generate bindings for all eBPF insns
  xtask/src/codegen/aya.rs
Labels: test

#1240 chore(aya): Use BPF_ADD from bindings
  aya/src/sys/bpf.rs
Labels: aya
