Repository aya-rs/aya, pull requests merged in 2025-01, with the labels that each got.

#1129 aya-tool: enable clang_macro_fallback
  aya-tool/src/bindgen.rs
Labels: aya-tool

#805 bpf: Handle raw tracepoint arguments
  ebpf/aya-ebpf/src/args.rs
  ebpf/aya-ebpf/src/lib.rs
  ebpf/aya-ebpf/src/programs/raw_tracepoint.rs
  test/integration-common/src/lib.rs
  test/integration-ebpf/Cargo.toml
  test/integration-ebpf/src/raw_tracepoint.rs
  test/integration-test/src/lib.rs
  test/integration-test/src/tests.rs
  test/integration-test/src/tests/raw_tracepoint.rs
  xtask/public-api/aya-ebpf.txt
Labels: test, aya-bpf

#1133 aya::programs::uprobe: add support for cookies
  aya/src/bpf.rs
  aya/src/programs/cgroup_device.rs
  aya/src/programs/cgroup_skb.rs
  aya/src/programs/cgroup_sock.rs
  aya/src/programs/cgroup_sock_addr.rs
  aya/src/programs/cgroup_sockopt.rs
  aya/src/programs/cgroup_sysctl.rs
  aya/src/programs/extension.rs
  aya/src/programs/iter.rs
  aya/src/programs/kprobe.rs
  aya/src/programs/mod.rs
  aya/src/programs/perf_attach.rs
  aya/src/programs/perf_event.rs
  aya/src/programs/probe.rs
  aya/src/programs/sk_lookup.rs
  aya/src/programs/sock_ops.rs
  aya/src/programs/tc.rs
  aya/src/programs/trace_point.rs
  aya/src/programs/uprobe.rs
  aya/src/programs/xdp.rs
  aya/src/sys/bpf.rs
  test/integration-ebpf/Cargo.toml
  test/integration-ebpf/src/uprobe_cookie.rs
  test/integration-test/src/lib.rs
  test/integration-test/src/tests.rs
  test/integration-test/src/tests/bpf_probe_read.rs
  test/integration-test/src/tests/btf_relocations.rs
  test/integration-test/src/tests/load.rs
  test/integration-test/src/tests/log.rs
  test/integration-test/src/tests/relocations.rs
  test/integration-test/src/tests/ring_buf.rs
  test/integration-test/src/tests/strncmp.rs
  test/integration-test/src/tests/uprobe_cookie.rs
  xtask/public-api/aya.txt
Labels: test, aya, api/needs-review

#1134 Appease clippy
  aya/src/programs/uprobe.rs
Labels: aya

#1139 Fix aya-ebpf-* riscv64 build
  ebpf/aya-ebpf-bindings/build.rs
  ebpf/aya-ebpf-cty/build.rs
  ebpf/aya-ebpf/build.rs
Labels: aya-bpf

#1149 Appease clippy
  aya-log-common/src/lib.rs
  aya-obj/src/obj.rs
  aya/src/util.rs
  init/src/main.rs
  xtask/src/public_api.rs
Labels: test, aya, aya-obj, aya-log

#1150 chore(xtask): Add mips to codegen
  aya-tool/src/lib.rs
  xtask/src/codegen/aya.rs
  xtask/src/codegen/aya_ebpf_bindings.rs
  xtask/src/codegen/mod.rs
Labels: test, aya-tool

#1154 chore(codegen): Fix duplicate BPF_F_LINK
  xtask/src/codegen/aya.rs
  xtask/src/codegen/aya_ebpf_bindings.rs
Labels: test

#482 Added MIPS bindings
  .cargo/config.toml
  .github/workflows/ci.yml
  Cargo.toml
  aya-obj/src/generated/mod.rs
  ebpf/aya-ebpf-bindings/build.rs
  ebpf/aya-ebpf-bindings/src/lib.rs
  ebpf/aya-ebpf-bindings/src/mips/mod.rs
  ebpf/aya-ebpf-cty/build.rs
  ebpf/aya-ebpf-cty/src/lib.rs
  ebpf/aya-ebpf/build.rs
  ebpf/aya-ebpf/src/args.rs
  ebpf/aya-ebpf/src/programs/probe.rs
  ebpf/aya-ebpf/src/programs/retprobe.rs
Labels: test, aya-bpf, aya-obj, aya-tool
